<div>
    <div class="time-series-header-panel"> 
        <div class='time-series-header-row-1'>
            <span>From</span>
            <input ng-model="rangeStartStr" ng-class='getRangeClasses(rangeStartStr)' class='btn margin-left-5 margin-right-5' style='width:140px;' placeholder="HH:MM MM/DD/YYYY" value=''></input>
            <span class='margin-left-5'>To</span>
            <input ng-model="rangeEndStr" ng-class='getRangeClasses(rangeEndStr)' class='btn margin-left-5' style='width:140px;'placeholder="HH:MM MM/DD/YYYY" value=''></input>
            <button ng-click="submitHandler()" class='btn margin-left-5'>Submit</button>
        </div>
        <div style='clear:both'></div>
        <div class='time-series-header-row-2'>
            Zoom
            <button ng-click='setMonthsOfRange(1)' class='btn margin-left-5'>1m</button>
            <button ng-click='setMonthsOfRange(3)' class='btn margin-left-5'>3m</button>
            <button ng-click='setMonthsOfRange(6)' class='btn margin-left-5'>6m</button>
            <button ng-click='setMonthsOfRange(12)' class='btn margin-left-5'>1y</button>
            <button ng-click='setRangeToYTD()' class='btn margin-left-5'>YTD</button>  
        </div>
    </div>

    <div class='time-series-chart-wrapper'>
        <div class='loading-status'ng-show="errorLoading">Failed to load data.</div>
        <div class="time-series-chart" style="margin: 0;"></div>
    </div>

<div>
